@font-face {
            font-family: 'Tehee-Regular';
            src: url("Tehee-Regular.ttf");
        }

body { 
    background-image: url("background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    font-family: 'Time New Roman', sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 100%;
}

p {
        color: red;
        font-family: 'Tehee-Regular', sans-serif;
        margin: 0;
        font-size: 50px;
        gap: 0px;
}
